# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Testing and outputs
test_outputs/
cache/
.pytest_cache/

# Virtual environments
venv/
env/
mypyenv/

# IDEs and environments
.vscode/
.idea/
*.swp

# Data files and simulation outputs
*.nitf
*.cphd
*.png
output/
simulation/output/
workspace/

# Private
PI/
audit/

# package stuff
*.egg-info*
